* {
    font-family: 'Thasadith', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
/*TOP BANNER*/
.listHead {
    position: relative;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(131, 255, 59, 0.911));
}
header.questHead {
    position: relative;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 59, 190, 0.911));
}
header {
    position: relative;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(157, 164, 223));
}
div.title {
    height: 50%;
    width: 50%;
    margin-top: 60px;
    margin-left: 55px;

}
div.title #t1 {
    font-size: 50px;
    line-height: 50px;
}
.topborder {
    height: 15px;
    width: 100%;
    background-image: url(background.jpg)
}
.dropdown img {
    height: 60px;
    
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
/*MAIN*/
main {
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
}
.a {
    width: 45%;
    margin: 14px;
    height: 50%;
    float: left;
}
.topleft {
    width: 45%;
    margin: 14px;
    height: 60%;
    float: left;
    background-color: #f9f9f9;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.589);
    border-radius: 30px;
}
.img {
}